<app-header></app-header>


<section style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container-fluid" style="background-color: #333333;">
      <div class="quemSou">
          <div class="row">

              <div class="col-md-12">
                  <h1 class="quemSou-titulo" style="margin-top: 60px;">QuemSou</h1>
              </div>
              
          </div>
          <div class="row teste" style="margin-top: 30px;">

              <div class="col-md-4 ">
                  <div class="card card0 imagemAvatar" style="border-color: rgb(231, 30, 231);">
                      <div class="border"></div>
                  </div>
              </div>

              <div class="col-md-8">
                  <p class="quemSou-texto">
                      Olá, me chamo Thiago e este é meu trabalho de conclusão para o curso de pós-graduação em Desenvolvimento Web Front-End Online da PUC Minas. Este projeto é mais do que uma simples aplicação web; é um jogo baseado em blockchain. Nele, também utilizei tecnologias para armazenar informações no Back-End. Este desafio foi mais do que uma oportunidade de aplicar os conhecimentos adquiridos no curso, foi uma oportunidade de me superar e explorar as fronteiras do desenvolvimento web.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>



<app-footer></app-footer>