<div class="container" id="nav-container">
    <!-- add essa class -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">


        <span class="navbar-brand" href="index.html">
            <div class="d-flex align-items-center">
              <img id="logo" src="../../../assets/images/kisspng-barber-chair-clip-art-seat-5a7d0c7cb4d9b2.4689715015181446367408.png" alt="BombChair" class="name">
              <span class="ms-2 me-auto">BombChair</span><span class="version">v 1.0</span> 
            </div>
        </span>
          
        <!-- menu hamburguer reponsividade-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
            aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
            <div class="navbar-nav">
                <!-- <a class="nav-item nav-link texto" id="ranking" href="#">TopFiveWeek</a>
                <a class="nav-item nav-link texto" id="ranking" href="#">ComoJogar</a>
                <a class="nav-item nav-link texto" id="ranking" href="#">Faucet</a>
                <a class="nav-item nav-link texto" id="quem-sou" href="#">QuemSou</a> -->
            </div>
            <div class="caixa">
                <button class="botao" type="button" (click)="connect()">Jogar</button>
            </div>
            
        </div>
    </nav>
</div>